*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* header */
body{
    display: grid;
    grid-template-rows: auto auto;
}
header{
    
    display: grid; 
    grid-template-columns: auto auto;
    border-bottom: 2px solid black;
}

.backtotop{
    height: 31px;
    margin: 15px 0px 15px 200px;
}
header img, header nav, header ul, header li{
    display: inline;
}
header nav{
    display: grid;
    grid-template-columns: auto 50%;
    font-size: 18px;
    place-content: right;
}
header nav select{
    border: none;
    font-size: 19px;
}
header button{
    font-size: 16px;
    border: 2px solid #006aff;
    background: none;
    padding: 8px 10px 8px 10px;
    color: #006aff;
    border-radius: 5px;
}
header button:hover{
    background: #006aff;
    color: white;
}
header li{
    list-style: none;
}
.mainlist, .sidelist{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin-right: 100px; 
    gap:20px;
}
/* header section finsihed */
/* main section start */
.one-form{
    position: relative;
    height: 100vh;
}
.one-form form{
    position: absolute;
    background-color: white ;
    height: 400px;
    width: 400px;
    top: 100px;
    z-index:1;
    right: 400px;
    border-radius: 20px;
}

.one-form input{
    display: block;
}
.emailsignup{
    display: block;
}
.videooverlay{
    position: absolute;
    background-color: #006aff;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0.5;
    height: 99vh;
}
video{
    width: 100vw;
}
